<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.takahirom.material_design_animation_playground">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ElementApplication"
        android:allowBackup="true"
        android:icon="@mipmap/element_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".durationeasing.DurationAndEasingActivity"
            android:label="@string/title_activity_dynamic_durations"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".movement.MovementActivity"
            android:label="@string/title_activity_movement"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".transforming.TransformingActivity"
            android:label="@string/title_activity_transforming"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".transforming.LoginActivity"
            android:theme="@style/AppTheme.Translucent.Login" />
        <activity
            android:name=".choreography.ChoreographyActivity"
            android:label="@string/title_activity_choreography"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity android:name=".choreography.ShareAllElementActivity"
            android:theme="@style/AppTheme.NoActionBar.ChoreographyShare"
            />
        <activity android:name=".choreography.ShareFewElementActivity"
            android:theme="@style/AppTheme.NoActionBar.ChoreographyFewShare"
            />
    </application>

</manifest>